<div class="content" role="main">
    <span>{{ title }} app is running!</span>
</div>
<div class="todo">
    <form [formGroup]="entryForm" (ngSubmit)="onSubmit(entryForm.value)">
        <p>
            <mat-form-field appearance="legacy">
                <mat-label>Description</mat-label>
                <input matInput placeholder="..." formControlName="description">
            </mat-form-field>
        </p>

        <p>
            <mat-form-field>
                <mat-label>Due Date</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="dueDate" placeholder="Optional" >
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </p>

        <p>
            <button mat-button type="submit">Add TODO Entry</button>
        </p>
    </form>


    <app-todo-list [todoList]="todoList"></app-todo-list>
</div>